<div class="arts-latest-container">
  <div class="arts-latest-left">
  	<div class="arts-latest-item" style="background-image: url(<%= image_path('blogs/Circuit_Article.jpg') %>)"> 
	    
	    <div class="arts-latest-desc">
	    	<%= link_to "#" do %>
	    		<p>Description go here</p>
	    	<% end %>
	    </div>
	</div>
  </div>

  <div class="arts-latest-right">
  	<div class="arts-latest-small arts-top-right">
		<div class="arts-latest-item" style="background-image: url(<%= image_path('blogs/Watch_Repair_Article.jpg') %>)" > 
		    
		    <div class="arts-latest-desc">
		    	<%= link_to "#" do %>
		    		<p>Description go here</p>
		    	<% end %>
		    </div>
		</div>
  	</div>
  	<div class="arts-latest-small arts-top-right">
  		<div class="arts-latest-item" style="background-image: url(<%= image_path('blogs/iPhone_Article.jpg') %>)"> 
		    
		    <div class="arts-latest-desc">
		    	<%= link_to "#" do %>
		    		<p>Description go here</p>
		    	<% end %>
		    </div>
		</div>
  	</div>
  	<div class="arts-latest-small">
  		<div class="arts-latest-item" style="background-image: url(<%= image_path('blogs/Video_Chip_Article.jpg') %>)"> 
		    
		    <div class="arts-latest-desc">
		    	<%= link_to "#" do %>
		    		<p>Description go here</p>
		    	<% end %>
		    </div>
		</div>
  	</div>
  	<div class="arts-latest-small">
  		<div class="arts-latest-item" style="background-image: url(<%= image_path('blogs/iMac_Article.jpg') %>)"> 
		    
		    <div class="arts-latest-desc">
		    	<%= link_to "#" do %>
		    		<p>Description go here</p>
		    	<% end %>
		    </div>
		</div>
  	</div>	  		
  </div>
</div>

<div class="arts-latest-container-mb">
	<div class="arts-item">
      <%= link_to "#" , class: "arts-item-img" do %>
        <%= image_tag('blogs/Circuit_Article.jpg', alt: "Article-1") %>
        
      <% end %>
      <div class="arts-item-content">
        <%= link_to "#" do %>
          <h3>Title1 here</h3>
          <p>Content go here</p>
        <% end %>
      </div>
    </div>
    <div class="arts-item">
      <%= link_to "#" , class: "arts-item-img" do %>
        <%= image_tag('blogs/Watch_Repair_Article.jpg', alt: "Article-1") %>
        
      <% end %>
      <div class="arts-item-content">
        <%= link_to "#" do %>
          <h3>Title1 here</h3>
          <p>Content go here</p>
        <% end %>
      </div>
    </div>
</div>