<%= form_for([current_user, article]) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "field-box-cust" %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, :class => "tinymce field-box-cust"  %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: "field-box-cust" %>
  </div>

  <div class="field">
    <%= f.label :isVisible %>
    <%= f.check_box :isVisible, class: "field-box-cust" %>
  </div>

  <div class="field">
    <%= f.label :tags %>
    <%= f.text_field :tags, class: "field-box-cust" %>
  </div>

  <div class="field">
    <%= f.label :img_url %>
    <%= f.text_field :img_url, class: "field-box-cust" %>
  </div>

  <div class="action-field">
    <%= f.submit class: "btn btn-primary btn-black" %>
    <%= link_to 'Cancel', user_articles_path, class: "btn-blank" %>
  </div>
<% end %>

<%= tinymce %>