<%= render 'article_header' %>
<div class="arts-main-container">
  <div class="art-banner" style="background-image: url(<%= image_path(@article.img_url) %>)">
    <h1 class="art-title"><%= @article.title %></h1>
  </div>

  <div class="art-body-content">
    <div class="art-social-share skip-desktop">
      <div  class="share-block-mb">
        <span class="count-number">0</span>
        <span class="fa fa-facebook icon-social"></span>
        <span class="fa fa-twitter icon-social"></span>
      </div>
    </div>
    <div class="art-left-content skip-mobile" id="element-social-share">
      <div class="share-block">
        <div class="count-total">
          <span class="count-number">0</span>
          <span class="count-share">shares</span>
        </div>
        <div class="share-social">
          <div class="facebook-share share-square ">
            <a class="share-popin" href="" target="_blank">
              <span class="fa fa-facebook icon-social"></span>
              <span class="share-count">0</span>
            </a>
          </div>

          <div class="twitter-share share-square">
            <a class="share-popin" href="" target="_blank">
              <span class="fa fa-twitter icon-social"></span>
              <span class="share-count">0</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="art-right-content" id="art-element-content">
      <% if current_user == @article.user or current_user.isAdmin? %>
        <%= link_to 'Edit', edit_article_path(@article), class: "btn-modify btn-abs btn" %>
      <% end %>
      <%= sanitize @article.content %>

      <div class=art-tags>
        <%= @article.tags %>
      </div>
    </div>
  </div>
</div>