<% content_for :head do %>
  <!-- Open FB Graph tags -->
  <meta property="og:title" content="<%= @article.title %>">
  <meta property="og:type" content="article">
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:description" content="<%= @article.description %>">
  <meta property="og:image" content="<%= image_url(@article.img_url) %>">
<% end %>
<%= render 'article_header' %>
<div class="arts-main-container">
  <div class="art-banner" style="background-image: url(<%= image_path(@article.img_url) %>)">
    <h1 class="art-title"><%= @article.title %></h1>
  </div>

  <div class="art-body-content">
    <div class="art-social-share skip-desktop">
      <div  class="share-block-mb">
        <span class="count-number">0</span>
        <span class="fa fa-facebook icon-social"></span>
        <span class="fa fa-twitter icon-social"></span>
      </div>
    </div>
    <div class="art-left-content skip-mobile" id="element-social-share">
      <div class="share-block">
        <div class="count-total">
          <span class="count-number">0</span>
          <span class="count-share">shares</span>
        </div>
        <div class="share-social">
          <div class="facebook-share share-square ">
            <a class="share-popin" href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" target="_blank">
              <span class="fa fa-facebook icon-social"></span>
              <span class="share-count">0</span>
            </a>
          </div>

          <div class="twitter-share share-square">
            <a class="share-popin" href="" target="_blank">
              <span class="fa fa-twitter icon-social"></span>
              <span class="share-count">0</span>
            </a>
          </div>
        </div>
      </div>

      <div class="fb-share-button" data-href="<%= request.original_url %>" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>

    </div>
    <div class="art-right-content" id="art-element-content">
      <% if current_user %>
        <% if current_user == @article.user or current_user.isAdmin? %>
          <div>
          <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-md btn-primary" %>
          <%= link_to 'Destroy', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-md btn-danger" %>
         </div>
        <% end %>
      <% end %>
      <%= sanitize @article.content %>

      <div class=art-tags>
        <%= @article.tags %>
      </div>
    </div>
  </div>
</div>