<% if !current_user %>
<div id="drawer" class="drawer-right">
	<div class="drawer-container">
	  <div class="drawer-header">
	    <h4><%= t('.sign_in', default: 'Sign in') %></h4>
	    <%= link_to "", "#", class: "drawer-close" %>
	  </div>
	  <div class="drawer-body">
	    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form', id: 'form_sign_in' }) do |f| %>
	      <div class="form-group form-group-cust">
	        <%= f.label :email %>
	        <%= f.email_field :email, autofocus: true, id: 'user_email_sign_in', class: 'form-control form-control-cust' %>
	      </div>
	      <div class="form-group form-group-cust">
	        <%= f.label :password %>
	        <%= f.password_field :password, autocomplete: 'off', id: 'user_password_sign_in', class: 'form-control form-control-cust' %>
	      </div>
	      <% if devise_mapping.rememberable? %>
	        <div class="checkbox checkbox-cust">
	          <%= f.label :remember_me do %>
	            <%= f.check_box :remember_me, id: 'remember_me_sign_in'%> <%= t('.remember_me', default: 'Remember me') %>
	          <% end %>
	        </div>
	      <% end %>
	      <%= f.submit  t('.sign_in', default: 'Sign in'), class: 'btn btn-primary btn-black' %>
	    <% end %>
	  </div>
		<%= render 'devise/shared/links' %>
	</div>
</div>
<% end %>