<div id="homeslider">
	<div class="home-slideshow">
		<a class="slideshow-image" style="background-image: url(<%= image_path('Slider/iMac_Slide.jpg') %>)">
		</a>	
		<div class="slideshow-text slideshow-text-left slideshow-text-white">
			<h1>Macbook Service</h1>
			<hr>
			<p>Expertise in Macbook repair. <br>No Fix, No Pay</p>
			<a href="">View Details <i class="nav-arrow d-right"></i></a>
		</div>
	</div>

	<div class="home-slideshow">
		<a class="slideshow-image" style="background-image: url(<%= image_path('Slider/Circuit_Slide.jpg') %>)">
		</a>	
		<div class="slideshow-text slideshow-text-left slideshow-text-white">
			<h1>Component Level <br>Repair</h1>
			<hr>
			<p>Expertise in Soldering, <br>Rework Job</p>
			<a href="">View Details <i class="nav-arrow d-right"></i></a>
		</div>
	</div>

	<div class="home-slideshow">
		<a class="slideshow-image" style="background-image: url(<%= image_path('Slider/Video_Chip_Slide.jpg') %>)">
		</a>	
		<div class="slideshow-text slideshow-text-right slideshow-text-white">
			<h1>Video Chip <br>Problem</h1>
			<hr>
			<p>Yes, We Fix</p>
			<a href="">View Details <i class="nav-arrow d-right"></i></a>
		</div>
	</div>

	<div class="home-slideshow">
		<a class="slideshow-image" style="background-image: url(<%= image_path('Slider/iPhone_Water_Slide.jpg') %>)">
		</a>	
		<div class="slideshow-text slideshow-text-left slideshow-text-white">
			<h1>Water Damaged <br>iPhone</h1>
			<hr>
			<p>No worries! <br>Let We Take Care Of It</p>
			<a href="">View Details <i class="nav-arrow d-right"></i></a>
		</div>
	</div>

	<div class="home-slideshow">
		<a class="slideshow-image" style="background-image: url(<%= image_path('Slider/Watch_Repair_Slide.jpg') %>)">
		</a>	
		<div class="slideshow-text slideshow-text-right slideshow-text-white">
			<h1>Watch Service</h1>
			<hr>
			<p>Battery Replacement <br>Lifetime Warranty</p>
			<a href="">View Details <i class="nav-arrow d-right"></i></a>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#homeslider').slick({
			lazyload: 'progressive',
			arrows: false,
			dots: true,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 5000
		});
	});
</script>