<div id="homeslider">
	<div class="home-slideshow">
		<a class="slideshow-image" style="background-image: url(<%= image_path('Slider/iMac_Slide.jpg') %>)">
		</a>	
		<div class="slideshow-text slideshow-text-right slideshow-text-white">
			<h1>Title here</h1>
			<hr>
			<p>Verbiage</p>
			<a href="">CTA Link</a>
		</div>
	</div>

	<div class="home-slideshow">
		<a class="slideshow-image" style="background-image: url(<%= image_path('Slider/Circuit_Slide.jpg') %>)">
		</a>	
		<div class="slideshow-text slideshow-text-left slideshow-text-white">
			<h1>Title here</h1>
			<hr>
			<p>Verbiage</p>
			<a href="">CTA Link</a>
		</div>
	</div>

	<div class="home-slideshow">
		<a class="slideshow-image" style="background-image: url(<%= image_path('Slider/Video_Chip_Slide.jpg') %>)">
		</a>	
		<div class="slideshow-text slideshow-text-right slideshow-text-white">
			<h1>Title here</h1>
			<hr>
			<p>Verbiage</p>
			<a href="">CTA Link</a>
		</div>
	</div>

	<div class="home-slideshow">
		<a class="slideshow-image" style="background-image: url(<%= image_path('Slider/iPhone_Water_Slide.jpg') %>)">
		</a>	
		<div class="slideshow-text slideshow-text-left slideshow-text-white">
			<h1>Title here</h1>
			<hr>
			<p>Verbiage</p>
			<a href="">CTA Link</a>
		</div>
	</div>

	<div class="home-slideshow">
		<a class="slideshow-image" style="background-image: url(<%= image_path('Slider/Watch_Repair_Slide.jpg') %>)">
		</a>	
		<div class="slideshow-text slideshow-text-right slideshow-text-white">
			<h1>Title here</h1>
			<hr>
			<p>Verbiage</p>
			<a href="">CTA Link</a>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#homeslider').slick({
			lazyload: 'progressive',
			arrows: false,
			dots: true,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 5000
		});
	});
</script>