<div id="homegallery">
	<h2>My Gallery</h2>
	<div id="homegallery-slider">
		<%= link_to "", class: "gallery-slideshow-link" do %>
			<h3>Component Repair</h3>
			<%= image_tag('Slider/Circuit_Slide.jpg', alt: "Component Repair") %>
		<% end %>
		<%= link_to "", class: "gallery-slideshow-link" do %>
			<h3>Watch Servie</h3>
			<%= image_tag('Slider/Watch_Repair_Slide.jpg', alt: "Watch Service") %>
		<% end %>
		<%= link_to "", class: "gallery-slideshow-link" do %>
			<h3>Video Chip Repair</h3>
			<%= image_tag('Slider/Video_Chip_Slide.jpg', alt: "Video Chip Repair") %>
		<% end %>

	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
		$('#homegallery-slider').slick({
			arrows: true,
			slidesToShow: 1,
			fade: true,
			slidesToScroll: 1,
			dots: true,
			autoplay: false,
			autoplaySpeed: 5000,
			prevArrow: '<div class="slick-prev"><i class="nav-arrow d-left"></i></div>',
    		nextArrow: '<div class="slick-next"><i class="nav-arrow d-right"></i></div>'
		});
})

</script>